<% include layout-header %>

<div style="padding-left: 30px;">
  <h4>Live click events</h4>
  <ul id="liveData" class="collapsible" data-collapsible="accordion">
  </ul>  
</div>
<script id="webhook-data-template" type="text/x-handlebars-template">
  {{#each dataList}}
    <li>
      <div class="collapsible-header"><i class="material-icons">event</i>{{msys.message.message_type}}</div>
      <div class="collapsible-body">
        <p>Received on: {{msys.message.timestampDate}}</p>
        <p>
          <pre style="padding-left: 20px;">{{msys.message.payload}}</pre>
        </p>
      </div>
    </li>
  {{/each}}
</script>

<script>
  var dataTemplate = Handlebars.compile($("#webhook-data-template").html());    
  initDashboard();
  

  function initDashboard(){
    initSocket();
  }

  function initSocket(){
    console.log('Initing socket');
    var socket = io.connect();
    socket.on('newFiles', function (data) {
      console.log('newFiles', data);
      renderData(data);
    });
  }
  
  function uinuxTimestampToDate(unix_timestamp){
    var a = new Date(unix_timestamp * 1000);
    return a.toString();
  }
  
//          payload: JsonHuman.format(JSON.stringify(d.msys[keys[0]], null, 2)),
//          payload: JsonHuman.format(d.msys[keys[0]]).innerHTML,
  

  function renderData(data){
    var renderData = data.map(function(d){
      var keys = Object.keys(d.msys);
      if(keys.length > 0){
        d.msys.message = {
          message_type: keys[0],
          payload: JSON.stringify(d.msys[keys[0]], null, 2),
          timestamp: d.msys[keys[0]].timestamp,
          timestampDate: uinuxTimestampToDate(d.msys[keys[0]].timestamp)
        }
      }else{
        console.log('No keys forund under msys');
      }
      return d;
    });
    var html = dataTemplate({dataList: renderData});
    console.log(html);
    $("#liveData").prepend(html);
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
    
  }

</script>





<% include layout-footer %>