<% include layout-header %>
    <div class="row">
        <form id="emailForm" method="POST" action"api/webhook" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="to" placeholder="Emails should be delimited by commas" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="subject" placeholder="Subject" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea" class="materialize-textarea"></textarea>
                    <label for="textarea">Textarea</label>
                </div>
            </div>
            <div class="row center">
                <a class="waves-effect waves-light btn center-align">Send</a>
            </div>
        </form>
    </div>
<% include layout-footer %>
