<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Spark ONTAP</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="bower_components/Materialize/bin/materialize.css" type="text/css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="https://spark-dashboard-soham1.c9users.io" class="brand-logo">Spark ONTAP</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="https://spark-dashboard-soham1.c9users.io">Dashboard</a></li>
                <li><a href="https://spark-dashboard-soham1.c9users.io/email">Email</a></li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="https://spark-dashboard-soham1.c9users.io">Dashboard</a></li>
                <li><a href="https://spark-dashboard-soham1.c9users.io/email">Email</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="row">
        <form id="emailForm" method="POST" action"api/webhook" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="to" placeholder="Emails should be delimited by commas" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="subject" placeholder="Subject" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea" class="materialize-textarea"></textarea>
                    <label for="textarea">Textarea</label>
                </div>
            </div>
            <div class="row center">
                <a class="waves-effect waves-light btn center-align">Send</a>
            </div>
        </form>
    </div>
</body>

</html>
