</div>
<footer class="page-footer orange">
    <div class="footer-copyright">
        <div class="container">
            Made by Soham Ashodiya and Kaushik Ashodiya</a>
        </div>
    </div>
</footer>
</body>

</html>